* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

hr {
  border: none;
  border-top: dotted 5px  #d44000;
  width: 5%;
  margin: auto;

}

h2 {
	margin:10px 0;
	}

nav {
    display: flex;
    justify-content: space-between;   
    text-align: center;
    background-color:  whitesmoke;
    box-shadow: 0px 10px 5px #27272780;
    -webkit-box-shadow: 0px 5px 5px #27272780;
    -moz-box-shadow: 0px 10px 5px #27272780;
    z-index: 999999;

    /* position: fixed; doesn't work  */
  }
  a{
    text-decoration: none;
  }

  nav a {
    font-family: monospace;
    font-weight: 700;
    text-decoration: none;
    color: #d44000;
  }

  nav a:hover {
    color:#864000;
  }

.navbar-brand-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 40px;
  }

.navbar-name {
    font-family: monospace;
    font-weight: 700;
    font-size: 50px;
    color: #864000;
  }
.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item{
list-style: none;
margin-right: 3rem;
font-size: 18px;
}

/* section one section one section one section one section one section one */
.section-one-flex-container {
  display: flex;
  margin: 50px 15px 20px 60px;
}

.column1-div {
  flex: 1;  /* just for behaviour!!!! */
  text-align: center;
}

.column2-div {
  flex: 2;
}

.icon-list {
  /* border: black 1px solid; */
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0 80px; /* to squish them together more after using space-around*/
  margin-top: 20px; 
  } 
  
.icon-item {
  color: #d44000;
  font-size: 30px;
  }

  .icon-item a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
  }

  .icon-item a:hover {
    color: purple;
    content:attr(title);

  }

.jade-photo {
  border-radius: 300px;
  width: 280px;
  height: 280px;
}

/* section two */ /* section two */ /* section two */ /* section two */ /* section two */

.section-two-flex-container {
  border: 5px solid pink;
  display: flex;
  margin: 50px 15px 20px 60px;
}

.column3-div {
  flex: 1;
  text-align: left;
  padding: 10px;
}

.column4-div {
  padding: 10px;
  flex: 1;
}

.column4-div ul {
  list-style:inside;
}
.study-img {
width: 550px;
height: 350px;
border-radius: 90px;
padding: 20px;

}

.coding-flex-container {
  display: flex;
  justify-content: center;
}
.coding-img {
  width: 550px;
  height: 310px;
  padding: 20px;
  border-radius: 90px;
}

.column5-div {
  padding: 10px;
  flex: 1;
}

/* Footer */ /* Footer */ /* Footer */

footer {
  position: relative;
  margin: 10px;
  bottom: 0; 
  color: #d44000;
  width: 100%; 
  height: 1rem;        
}

.copyright {
  text-align: center;
  font-size: small;
}

p {
  font-size: large;
  margin-bottom: 10px;
}


@media screen and (max-width: 850px) {
  .section-one-flex-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .section-two-flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
  } 
 
}



/* https://colorhunt.co/palette/264477  */



